<div class="container">
  <h1>PDXFood.com</h1>
  {{#link-to 'carts.new'}}Add Another Cart{{/link-to}}
  <div class="row">
    <div class="col-md-6">
      <ul>
        {{#each}}
          {{#if name}}
            <li>{{#link-to 'cart' this}}{{name}}{{/link-to}}</li>
          {{/if}}
        {{/each}}
      </ul>
    </div>
    <div class="col-md-6">
      <div class="outlet">
        {{outlet}}
      </div>
    </div>
  </div>
</div>
